<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width"/>
    <title>FinalTask</title>

    <script src="~/Scripts/App/app.module.js"></script>

    <base href="/" />
</head>
<body>
    <div ui-view></div>
</body>
</html>