<h1>
    {{movie.Name}}
</h1>
<button ng-show="!editMode" ng-click="editModeSwitch()">Edit</button>
<button ng-click="cancel()" ng-show="editMode">Cancel</button>
<div class="movie-details-container" ng-show="!editMode">
    <h3>Director: </h3>{{movie.Director.Name}}
    <h3>Genre: </h3>{{movie.Genre.Name}}
    <h3>Actors: </h3>
    <div ng-repeat="actor in movie.Actors" class="actor-list">
        {{actor.Name}}
    </div>
    <h3 ng-show="movie.Hashtags.length">Hashtags: </h3>
    <div ng-repeat="hashtag in movie.Hashtags" class="hashtag-list">
        {{hashtag.Text}}
    </div>
    <h3 ng-show="movie.MovieLists.length">Movie lists: </h3>
    <div ng-repeat="movieList in movie.MovieLists" class="movieList-list">
        {{movieList.Name}}
        <button ui-sref="movieListDetails({movieListId: {{movieList.Id}}})">Details and edit</button>
    </div>
</div>
<movie-add-edit mode="edit" ng-show="editMode" movie-id="{{movie.Id}}"></movie-add-edit>
